<h1>Ingresar</h1>
<form action="/login" method="POST">
	<div>
		<label for="name">Nombre</label>
		<input type="text" id="name" name="name" required>
		<button type="submit">Entrar</button>
	</div>
</form>	