<head>
    <meta charset="UTF-8">
    <title>Chat Mirko</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<table align="center">
		<tr>
			<td colspan = "2" style="font-weight: bold;size: 20px" align="center">Ingresa tu nombre de usuario:</td>
		</tr>
	</table>
	<table align="center">
		<tr>
			<form action="/login" method="POST">
				<td><input type="text" id="name" name="name" required></td>
				<td><input type="submit" value="Enviar" style="font-size: 14px;color: blue"></td>
			</form>	
		</tr>
	</table>s	
</body>